/* Footer */
.footer {
  background-color: grey;
  height: 60px;
  width: 100%; 
}

.footer .container p {
  text-align: center;
  color: white; 
  padding: 3px;
  margin: 0px;
  font-size: 30px;
}

/*== End of footer ==*/
