/* Footer */
.footer {
  background-color: red;
  width: 100%; 
}

.footer .container p {
  text-align: center;
  color: white; 
  font-size: 25px;
  padding-top:10px;
  margin-bottom:10px;
}

.footer .my-info {
  text-align: center;
  color: white;
  font-size: 25px;
}

/*== End of footer ==*/
