// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

/*Main*/
.main-body {
  height: 85%;
  overflow: hidden;
  width: 100%;
}

.main-body .game-section {
  text-align: center;
  width: 50%;
  height: 100%;
  float: right;
  position: relative; 
}

.main-body .score-section {
  text-align: center;
  float: left;
  height: 100%;
  width: 50%;
  position: relative;
  display: inline-block;
}

.main-body .main-board {
  margin: auto;
  margin:20%;
  display: inline-block;
  max-width: 500px;
  max-height: 500px; 
}

.main-board .row {
  width: inherit;
  display: inline-block; 
}

/* Winning message*/
.main-body .result-message {
  width: 100%;
  height: fit-content;
  background-color: lightgreen;
  margin-top: 30px;
  position: absolute;
  font-size: 60px;
  color: white; 
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Next level button*/
.main-body .next-level{
  width: fit-content;
  height: 50px;
  font-size: 30px; 
  text-align: center;
}

/* Score section */
.main-body .score-section .level p {
  font-family: 'Courier New', Courier, monospace; 
  font-size: 60px;
  margin-top: 25%;
}

.main-body .score-section .score p {
  font-family: 'Courier New', Courier, monospace;   
  font-size: 40px;
}

/* Style the front square*/
.main-body .front-square {
  max-height: 150px;
  max-width: 150px;
  height: 100px;
  width: 100px; 
  border-width: 1px;
  background-color: transparent; 
  float: left; 
  margin: 2px;
  perspective: 1000px;
}

/* Flip square effect*/
.front-square .flip-square-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.front-square .flip-square-inner.flip-square-at-reload,.flip-on-click {
  transform: rotateY(180deg);
}

/* Hover on a square would turn it orange*/
.front-square:hover .flip-square-inner .flip-square-front {
  background-color: orange; 
}

/* Position the front and back side */
.flip-square-front, .flip-square-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid black;
}

/* Style the front side (fallback if image is missing) */
.flip-square-front {
  background-color: red;
  color: black;
}

/* Style the back side */
.flip-square-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}
/*== End of main==*/
