// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

/*Main*/
.main-body {
  height: 85%;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  text-align:center;
}

/* info section*/
.main-body .info-section {
  text-align: center;
  height: 25%;
  width: 100%;
  position: relative;
  margin: auto;
  display: inline-block;
}

/* Ready message*/
.main-body .ready-section {
  text-align: center; 
  font-size: 40px;
  position: absolute;
  width: 100%;
  padding-top:10px; 
}

.main-body .ready-section .count {
  font-size: 60px;
}
/*= End of ready message =*/

/* Level info section */
.main-body .level-info-section {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: orange;
}

.main-body .level-info-section .level {
  font-size: 40px; 
}

.main-body .level-info-section .score {
  font-size: 30px;
}

/* Result message*/
.main-body .result-message {
  width: 100%;
  height: fit-content;
  background-color: lightgreen;
  position: relative;
  font-size: 40px;
  color: white; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*=End of info=*/

/*game section*/
.main-body .game-section {
  text-align: center;
  width: 50%;
  height: fit-content; 
  margin: auto; 
  position: relative; 
  padding: 20px;
}

.main-body .main-board {
  margin: auto;
  margin-top: 5px;
  display: inline-block;
  max-width: 600px;
  max-height: 600px; 
}

.main-board .row {
  width: inherit;
  display: inline-block; 
  margin: auto;
}
/*= End of game =*/

/* End of ready message*/

/* Style the front square*/
.main-body .front-square {
  max-height: 150px;
  max-width: 150px;
  border-width: 1px;
  background-color: transparent; 
  float: left; 
  margin: 2px;
  perspective: 1000px;
}

/* Flip square effect*/
.front-square .flip-square-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.front-square .flip-square-inner.flip-square-at-reload,.flip-on-click {
  transform: rotateY(180deg);
}

/* Hover on a square would turn it orange*/
.front-square:hover .flip-square-inner .flip-square-front {
  background-color: orange; 
}

/* Position the front and back side */
.flip-square-front, .flip-square-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid black;
}

/* Style the front side (fallback if image is missing) */
.flip-square-front {
  background-color: red;
  color: black;
}

/* Style the back side */
.flip-square-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

/*== End of main==*/
