
/*Header*/
.header {
  width: 100%;
  background-color: red; 
  transition: height 0.5s;
  box-sizing: content-box !important;
  max-height: 50px; 
  padding: 0px;  
  padding-top: 5px;
  padding-bottom: 5px; 
}

.header .container {
  max-width: 90%;
}

/* Style the menu text*/
.header .container .menu .main, .help, .about {
  color: white; 
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif; 
  padding-left: 20px;
  padding-right: 20px;
  transition: font-size 0.5s;
  float:left;
  text-decoration: none;
}

.header .main a, .help a, .about a {
  color: white;
  text-decoration: none;
}

/* menu on hover*/
.header .container .menu .main a:hover,.help a:hover,.about a:hover {
  text-decoration: none;
  font-weight: 600;
}

.header .container .intro {
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  position: relative;
  transition: font-size 0.5s;
}

.header .container .intro:hover {
  color:white;
  text-decoration: none;
}

/*==End of header==*/