
/*Header*/
.header {
  width: 100%;
  height: 60px; 
  background-color: red; 
}

.header .container {
  max-width: 90%;
}

/* Style the menu text*/
.header .container .menu .main, .help, .about {
  color: white; 
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace; 
  padding-left: 20px;
  padding-right: 20px;
}

.header .container .menu:hover {
  font-size: 42px; 
  color: yellow;
}

.header .container .intro {
  color: white;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace; 
  float: left;
  position: relative;
}

/*==End of header==*/