.main-menu {
  height: 85%;
  width: 100%; 
}

.main-menu .menu-board {
  height: 50%;
  padding-top: 20px;
  text-align: center; 
  margin: auto; 
  width: 25%;
}

.main-menu .menu-board .option {
  width: 100%;
  float: left;
  padding: 20px;
  font-size: 50px; 
  font-family: 'Courier New', Courier, monospace;
}

.main-menu .menu-board .option:hover {
  font-size: 70px; 
  color: red;  
} 

.main-menu .intro {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 50px;
}