html {
  width: 100%;
}

.main-menu {
  height: 85%;
  width: 100%; 
}

.main-menu .menu-board {
  height: 50%;
  padding-top: 40px;
  text-align: center; 
  margin: auto; 
  width: 25%;
}

.main-menu .menu-board .option {
  width: 100%;
  float: left;
  padding: 20px;
  font-size: 50px; 
  font-family: Arial, Helvetica, sans-serif;
}

.main-menu .menu-board .option:hover {
  font-size: 55px; 
  color: red;  
} 

.main-menu .intro {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  color: orangered;
}