.main-scores-body {
  height: 85%;
}

.main-scores-body .score-info-section {
 font-size: 30px;
}

.main-scores-body .score-info-section,.graph-section,.comment-section {
 text-align: center;
}

.graph-section {
  height: 80% ;
  width: 100% ; 
  font-size: 30px; 
}

.graph-section #myChart {
  margin:auto;
  height: 100% !important; 
  width: 80% !important;
}

.comment-section {
  font-size: 30px;
}