.main-scores-body {
}

.main-scores-body .score-info-section {
 font-size: 30px;
}

.main-scores-body .score-info-section,.graph-section,.comment-section {
 text-align: center;
}

.score-summary {
  margin-bottom: 30px;
}

.graph-section {
  height: 80%;
  width: 100%; 
  font-size:30px; 
}

.graph-section #myChart {
  margin:auto;
  margin-bottom: 10px;
  height: 80% !important; 
  width: 70% !important;
}

/* Button section */
.main-scores-body .buttons-section {
  text-align: center;
}

.main-scores-body .buttons-section .btn {
  font-size: 30px !important;
  margin: 10px;
}

/* End of button*/

/* Comment section */
.comment-section .title {
  font-weight: 600;
  font-size: 30px;
  color: white;
  padding: 5px; 
  background-color: orange; 
}

/* Table info */
table {
  margin: auto;
  border-style: solid; 
}

table tr {
  width: 40px; 
  border-style: dashed;
}

table th {
  width: 300px; 
  font-size: 30px;  
  text-align: center; 
}

table td {
  width: 300px;
  font-size: 30px;
  text-align: center;
}

.comment-section .row {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.comment-section .buttons {
  font-size: 30px; 
  margin: 20px;
}

.comment-section .btn {
  font-size: 30px;
  font-weight:600;
}
