<div class = "main-scores-body">
  <div class = "score-info-section">
    <div class = "score"> SCORE: 100pts</div>
    <div class = "level"> LEVEL: 9</div>
  </div>

  <div class = "graph-section">
    <canvas id="myChart"></canvas>
  </div>

  <div class = "comment-section">
    Comments and contacts section 
  </div>
</div>