<div class = "user-main-body""> 

  <div class = "user-info">
    <div class = 'row'>  
      <h4> FIRST NAME:</h4> <%=current_user.first_name%> 
    </div>
    <div class = 'row'>
      <h4> LAST NAME: </h4><%=current_user.last_name%>
    </div>
    <div class = 'row'>
      <h4> EMAIL:</h4><%=current_user.email%> 
    </div>
  </div>

  <div class="user-score">
    <div id = 'score'> 1000 </div>
  </div>

</div>