<div class = "footer">
  <div class = "container">
    <p> A product made by Viet Dang - All rights reserved </p>
  </div>
  <div class = "my-info">
    <div class = "my-phone-number"> <%=I18n.t('my_info.phone_number') %></div>
    <div class = "my-email"> <%=I18n.t('my_info.email')%></div>
    <div class = "my-address"><%=I18n.t('my_info.address')%></div>
  </div>
</div>