<nav class = "header navbar navbar-fixed-top">
  <div class = "container">
    <%= link_to 'TEST YOUR MEMORY', main_path, class: 'intro'%>
    <%= link_to 'MAIN', main_path, class: 'main menu'%>
    <%= link_to 'HELP', tutorial_path, class: 'help menu'%>
    <%= link_to 'ABOUT', about_path, class: 'about menu'%>
  </div>
</nav>