<nav class = "header navbar navbar-fixed-top">
  <div class = "container">
    <span class = "intro"> TEST YOUR MEMORY </span>
    <span class = "main menu"> Main</span>
    <span class = "help menu"> Help </span>
    <span class = "about menu"> About </span>
  </div>
</span>