<nav class = "header navbar navbar-fixed-top navbar-text sticky-top navbar-collapse">
  <div class = "container">
    <%= link_to 'TEST YOUR MEMORY', main_path, class: 'intro'%>
    <div class = 'menu'>
      <%= link_to 'MAIN', main_path, class: 'main'%>
      <%= link_to 'HELP', tutorial_path, class: 'help'%>
      <%= link_to 'ABOUT', about_path, class: 'about'%>
    </div>
  </div>
</nav>