<nav class = "header navbar navbar-fixed-top">
  <div class = "container">
    <span class = "intro"> TEST YOUR MEMORY </span>
    <span class = "main menu"> MAIN</span>
    <span class = "help menu"> HELP </span>
    <span class = "about menu"> ABOUT </span>
  </div>
</nav>