<div class = "main-body">

  <div class = "info-section">
    <div class = "level-info-section">
        <div class = "level">Level: <%=@current_lvl%> </div>  
        <div class = "score">Score: <%=@current_score%> pts</div>
        <div class = "lives-count"> Lives: <%=@lives_count%> </div>
    </div>
    <div class = 'ready-section'>
      <span class = "count"></span>
    </div>
    <div class = "result-message"> </div>
  </div>


  <%= react_component("Game", {no_of_cols: @no_of_col, no_of_rows: @no_of_row, current_lvl: @current_lvl, current_score: @current_score, lives_count: @lives_count}, {prerender: false}) %>

</div>
