<div class = "main-menu">
  <div class = "intro">
    <p> LET'S TEST YOUR MEMORY </p>
  </div>

  <div class = "menu-board">
    <%= link_to 'START', game_path, class: 'option start '%>
    <%= link_to 'SCORES', scores_path, class: 'option scores'%>
    <%= link_to 'TUTORIAL', tutorial_path, class: 'option tutorial'%>
    <%= link_to 'ABOUT', about_path, class: 'option about'%>
  </div>
</div>