<div class = "main-menu">
  <div class = "intro">
    <p> LET'S TEST YOUR MEMORY </p>
  </div>

  <div class = "menu-board">
    <span class = "option start"> START </span>
    <span class = "option scores"> SCORES</span>
    <span class = "option tutorial"> TUTORIAL </span>
    <span class = "option about"> ABOUT </span>
  </div>
</div>