<div class = "main-menu">
  <div class = "intro">
    <p> HOW GOOD CAN YOU MEMORIZE? </p>
  </div>

  <div class = "menu-board">
    <%= link_to 'START', game_path, class: 'option start ', :data => { :reload => true}%>
    <%= link_to 'SCORES', scores_path, class: 'option scores', :data => {:reload => true}%>
    <%= link_to 'TUTORIAL', tutorial_path, class: 'option tutorial', :data => {:reload => true}%>
    <%= link_to 'ABOUT', about_path, class: 'option about', :data => {:reload => true}%>
  </div>
</div>