// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

/*Header*/
.header {
  width: 100%;
  height: 30px; 
  background-color: red; 
}

.header .container{
  text-align: right; 
  padding-top: 10px;
  padding-right: 10px; 
  font-size: 15px; 
}

.header .container .menu {
  padding-left: 10px;
  padding-right: 10px;
  color: white; 
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace; 
}

.header .container .menu:hover {
  font-size: 20px; 
  color: yellow;
}

.header .container .intro {
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace; 
  float: left;
  position: relative;
  text-align: left; 
}

/*==End of header==*/

/* Footer */
.footer {
  background-color: grey;
}

.footer .container p {
  text-align: center;
  color: white; 
  padding: 3px;
  margin: 0px;
}

/*== End of footer ==*?

/*Main*/
.main-body {
  height: 85%;
  overflow: hidden;
  width: 100%;
}
/*== End of main==*/